## Combining the datasets

### This code creates a combined dataset with 15 subwindows for each interaction

In [1]:
import warnings

import pandas as pd
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

import numpy as np
import datetime

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_rows = 50

## Lili's data

### Load lili's data

In [2]:
# Load the processed quaternions data
lili_qua_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/qua_combined_lili.csv"
lili_qua_df = pd.read_csv(lili_qua_path)
lili_qua_df.head()

,id,p_id,e_id,itr_id,itr_type,clt_id,rating,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,230904,1,5,119,3,16,4,0,0.086600,0.777745,0.093245,-0.615564,-0.151659,0.137463,-0.134024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.612
1,230905,1,5,119,3,16,4,1,0.303156,-0.720805,-0.211419,-0.586378,-0.146032,0.376636,0.329687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.635
2,230906,1,5,119,3,16,4,0,0.084969,0.778265,0.093829,-0.615045,0.133663,-0.087377,0.044941,3.242306,-2.554990,2.033689,36.844384,-29.033977,23.110105,2021-08-09 03:45:00.700
3,230907,1,5,119,3,16,4,1,0.302632,-0.719450,-0.210284,-0.588716,0.087317,-0.207186,-0.146515,3.381875,-8.461190,-6.901472,49.012688,-122.625945,-100.021327,2021-08-09 03:45:00.704
4,230908,1,5,119,3,16,4,1,0.302121,-0.718047,-0.209428,-0.590991,0.086724,-0.175910,-0.060999,-0.025794,1.359835,3.718058,-148.159536,427.001088,461.718694,2021-08-09 03:45:00.727

In [3]:
# Load the processed emg data
lili_emg_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/emg_combined_lili.csv"
lili_emg_df = pd.read_csv(lili_emg_path)
lili_emg_df.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp,rating
0,59809,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.583732,0.500000,0.444444,0.491597,0.487705,2021-08-09 03:45:00.691,4
1,59810,144033,1,5,119,3,0,16,0.736196,0.826389,0.587065,0.555024,0.463115,0.555556,0.537815,0.495902,2021-08-09 03:45:00.691,4
2,59811,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.569378,0.459016,0.489712,0.462185,0.491803,2021-08-09 03:45:00.691,4
3,59812,144033,1,5,119,3,0,16,0.742331,0.840278,0.587065,0.521531,0.487705,0.497942,0.500000,0.487705,2021-08-09 03:45:00.691,4
4,59813,144033,1,5,119,3,0,16,0.748466,0.840278,0.601990,0.583732,0.528689,0.543210,0.504202,0.487705,2021-08-09 03:45:00.691,4

In [4]:
# Load the processed accellerometer data
lili_acc_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/acc_combined_lili.csv"
lili_acc_df = pd.read_csv(lili_acc_path)
lili_acc_df.head()

,id,p_id,e_id,itr_id,itr_type,clt_id,rating,hand,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,230712,1,5,119,3,16,4,0,-0.809830,0.025375,-0.154770,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.672
1,230714,1,5,119,3,16,4,0,-0.859146,0.027817,-0.223129,-0.001726,0.000085,-0.002393,-1.409040,0.069754,-1.953125,2021-08-09 03:45:00.707
2,230717,1,5,119,3,16,4,0,-0.884537,0.034653,-0.238266,-0.000939,0.000253,-0.000560,-0.686233,0.184755,-0.409101,2021-08-09 03:45:00.744
3,230719,1,5,119,3,16,4,0,-0.865494,0.044907,-0.222641,0.000343,0.000185,0.000281,1.057943,0.569661,0.868056,2021-08-09 03:45:00.762
4,230720,1,5,119,3,16,4,0,-0.869400,0.027817,-0.218246,-0.000074,-0.000325,0.000083,-0.205592,-0.899465,0.231291,2021-08-09 03:45:00.781

a = qua_df.groupby('p_id')['itr_id'].unique()
count = 0
lst = []
for i in range(0,9):
    count += len(a.iloc[i])
    lst.append(a.iloc[i])
count
lst

### Rename the required columns

In [5]:
lili_qua_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'e_id': 'project_id',  'itr_type': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
lili_qua_df.head()

,id,participant_id,project_id,interaction_id,property_id,clothes_id,rating,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,230904,1,5,119,3,16,4,0,0.086600,0.777745,0.093245,-0.615564,-0.151659,0.137463,-0.134024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.612
1,230905,1,5,119,3,16,4,1,0.303156,-0.720805,-0.211419,-0.586378,-0.146032,0.376636,0.329687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.635
2,230906,1,5,119,3,16,4,0,0.084969,0.778265,0.093829,-0.615045,0.133663,-0.087377,0.044941,3.242306,-2.554990,2.033689,36.844384,-29.033977,23.110105,2021-08-09 03:45:00.700
3,230907,1,5,119,3,16,4,1,0.302632,-0.719450,-0.210284,-0.588716,0.087317,-0.207186,-0.146515,3.381875,-8.461190,-6.901472,49.012688,-122.625945,-100.021327,2021-08-09 03:45:00.704
4,230908,1,5,119,3,16,4,1,0.302121,-0.718047,-0.209428,-0.590991,0.086724,-0.175910,-0.060999,-0.025794,1.359835,3.718058,-148.159536,427.001088,461.718694,2021-08-09 03:45:00.727

In [6]:
lili_emg_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'e_id': 'project_id',  'itr_type': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
lili_emg_df.head()

,new_id,id,participant_id,project_id,interaction_id,property_id,hand,clothes_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp,rating
0,59809,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.583732,0.500000,0.444444,0.491597,0.487705,2021-08-09 03:45:00.691,4
1,59810,144033,1,5,119,3,0,16,0.736196,0.826389,0.587065,0.555024,0.463115,0.555556,0.537815,0.495902,2021-08-09 03:45:00.691,4
2,59811,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.569378,0.459016,0.489712,0.462185,0.491803,2021-08-09 03:45:00.691,4
3,59812,144033,1,5,119,3,0,16,0.742331,0.840278,0.587065,0.521531,0.487705,0.497942,0.500000,0.487705,2021-08-09 03:45:00.691,4
4,59813,144033,1,5,119,3,0,16,0.748466,0.840278,0.601990,0.583732,0.528689,0.543210,0.504202,0.487705,2021-08-09 03:45:00.691,4

In [7]:
lili_acc_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'e_id': 'project_id',  'itr_type': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
lili_acc_df.head()

,id,participant_id,project_id,interaction_id,property_id,clothes_id,rating,hand,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,230712,1,5,119,3,16,4,0,-0.809830,0.025375,-0.154770,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.672
1,230714,1,5,119,3,16,4,0,-0.859146,0.027817,-0.223129,-0.001726,0.000085,-0.002393,-1.409040,0.069754,-1.953125,2021-08-09 03:45:00.707
2,230717,1,5,119,3,16,4,0,-0.884537,0.034653,-0.238266,-0.000939,0.000253,-0.000560,-0.686233,0.184755,-0.409101,2021-08-09 03:45:00.744
3,230719,1,5,119,3,16,4,0,-0.865494,0.044907,-0.222641,0.000343,0.000185,0.000281,1.057943,0.569661,0.868056,2021-08-09 03:45:00.762
4,230720,1,5,119,3,16,4,0,-0.869400,0.027817,-0.218246,-0.000074,-0.000325,0.000083,-0.205592,-0.899465,0.231291,2021-08-09 03:45:00.781

### Check if the dfs contain NA values

In [8]:
lili_qua_df.isna().sum()

id                0
participant_id    0
project_id        0
interaction_id    0
property_id       0
clothes_id        0
rating            0
hand              0
w                 0
x                 0
y                 0
z                 0
AVx               0
AVy               0
AVz               0
AAx               0
AAy               0
AAz               0
AJx               0
AJy               0
AJz               0
timestamp         0
dtype: int64

In [9]:
lili_emg_df.isna().sum()

new_id            0
id                0
participant_id    0
project_id        0
interaction_id    0
property_id       0
hand              0
clothes_id        0
ch_01             0
ch_02             0
ch_03             0
ch_04             0
ch_05             0
ch_06             0
ch_07             0
ch_08             0
timestamp         0
rating            0
dtype: int64

In [10]:
lili_acc_df.isna().sum()

id                0
participant_id    0
project_id        0
interaction_id    0
property_id       0
clothes_id        0
rating            0
hand              0
Ax                0
Ay                0
Az                0
Vx                0
Vy                0
Vz                0
Jx                0
Jy                0
Jz                0
timestamp         0
dtype: int64

### Drop the required columns

In [11]:
lili_qua_df.drop(['id'], axis=1, inplace=True)
lili_qua_df.head()

,participant_id,project_id,interaction_id,property_id,clothes_id,rating,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,1,5,119,3,16,4,0,0.086600,0.777745,0.093245,-0.615564,-0.151659,0.137463,-0.134024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.612
1,1,5,119,3,16,4,1,0.303156,-0.720805,-0.211419,-0.586378,-0.146032,0.376636,0.329687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.635
2,1,5,119,3,16,4,0,0.084969,0.778265,0.093829,-0.615045,0.133663,-0.087377,0.044941,3.242306,-2.554990,2.033689,36.844384,-29.033977,23.110105,2021-08-09 03:45:00.700
3,1,5,119,3,16,4,1,0.302632,-0.719450,-0.210284,-0.588716,0.087317,-0.207186,-0.146515,3.381875,-8.461190,-6.901472,49.012688,-122.625945,-100.021327,2021-08-09 03:45:00.704
4,1,5,119,3,16,4,1,0.302121,-0.718047,-0.209428,-0.590991,0.086724,-0.175910,-0.060999,-0.025794,1.359835,3.718058,-148.159536,427.001088,461.718694,2021-08-09 03:45:00.727

In [12]:
lili_emg_df.drop(['new_id', 'id'], axis=1, inplace=True)
lili_emg_df.head()

,participant_id,project_id,interaction_id,property_id,hand,clothes_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp,rating
0,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.583732,0.500000,0.444444,0.491597,0.487705,2021-08-09 03:45:00.691,4
1,1,5,119,3,0,16,0.736196,0.826389,0.587065,0.555024,0.463115,0.555556,0.537815,0.495902,2021-08-09 03:45:00.691,4
2,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.569378,0.459016,0.489712,0.462185,0.491803,2021-08-09 03:45:00.691,4
3,1,5,119,3,0,16,0.742331,0.840278,0.587065,0.521531,0.487705,0.497942,0.500000,0.487705,2021-08-09 03:45:00.691,4
4,1,5,119,3,0,16,0.748466,0.840278,0.601990,0.583732,0.528689,0.543210,0.504202,0.487705,2021-08-09 03:45:00.691,4

In [13]:
lili_acc_df.drop(['id'], axis=1, inplace=True)
lili_acc_df.head()

,participant_id,project_id,interaction_id,property_id,clothes_id,rating,hand,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,1,5,119,3,16,4,0,-0.809830,0.025375,-0.154770,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.672
1,1,5,119,3,16,4,0,-0.859146,0.027817,-0.223129,-0.001726,0.000085,-0.002393,-1.409040,0.069754,-1.953125,2021-08-09 03:45:00.707
2,1,5,119,3,16,4,0,-0.884537,0.034653,-0.238266,-0.000939,0.000253,-0.000560,-0.686233,0.184755,-0.409101,2021-08-09 03:45:00.744
3,1,5,119,3,16,4,0,-0.865494,0.044907,-0.222641,0.000343,0.000185,0.000281,1.057943,0.569661,0.868056,2021-08-09 03:45:00.762
4,1,5,119,3,16,4,0,-0.869400,0.027817,-0.218246,-0.000074,-0.000325,0.000083,-0.205592,-0.899465,0.231291,2021-08-09 03:45:00.781

### Create the 15 window dataset

#### Required functions

In [14]:
def interaction_time(df):
    # Create a column for the starting time of each interaction 
    df['interaction_start_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id']]).transform('min')
    # Create a column for the ending time of each interaction 
    df['interaction_end_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id']]).transform('max')
    
    df['interaction_duration'] = df['interaction_end_time'] - df['interaction_start_time']#.datetime.total_seconds()
    df['interaction_duration'] = df['interaction_duration'].dt.total_seconds()
    return df

# Remove the excess data
def get_specified_time(df, required_time_duration=15):
    df['time_to_interaction_end'] = df['interaction_end_time'] - df['timestamp']
    
    new_df = df[df.time_to_interaction_end <= datetime.timedelta(0,required_time_duration)]
     
    # Drop the interaction_start_time and interaction_end_time for the dfs
    new_df.drop(['interaction_start_time', 'interaction_end_time', 'interaction_duration', 'time_to_interaction_end'], axis=1, inplace=True)
    
    new_df = interaction_time(new_df)
    
    return new_df

def create_subwindows(df, col_index=6, num_subwindows=15):
    
    # Create a column with the subwindow numbers
    df.insert(col_index, 'sub_window_num', num_subwindows)
    
    # Create column for increment
    df['increment_sub_window'] = df['interaction_duration'] / num_subwindows
    df['increment_sub_window'] = pd.to_timedelta(df.increment_sub_window, unit='s')
 
    #df['timestamp']= pd.to_datetime(df['timestamp'])
    #df['interaction_start_time']= pd.to_datetime(df['interaction_start_time'])
    #df['interaction_end_time']= pd.to_datetime(df['interaction_end_time'])
    
    for num in range(num_subwindows-1,0,-1):
        df.sub_window_num[df['timestamp'] <= df['interaction_start_time'] + num * df['increment_sub_window']] = num #+ datetime.timedelta(0,num)] 
        
   # Create a column for the starting time of each subwindow 
    df['subwindow_start_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id'], df['sub_window_num']]).transform('min')
    
    # Create a column for the ending time of each interaction 
    df['subwindow_end_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id'], df['sub_window_num']]).transform('max')
    
    # Create a column for the duration of the window
    df['subwindow_duration'] = df['subwindow_end_time'] - df['subwindow_start_time'] 
    df['subwindow_duration'] = df['subwindow_duration'].dt.total_seconds()

    return df
    
def create_slices(df, col_index=7, num_slices=15):
    
    # Create a column with the subwindow numbers
    df.insert(col_index, 'slice_num', num_slices)
    
    # Create column for increment
    df['increment_slice'] = df['subwindow_duration'] / num_slices
    df['increment_slice'] = pd.to_timedelta(df.increment_slice, unit='s')
     
    for num in range(num_slices-1,0,-1):
        df.slice_num[df['timestamp'] <= df['subwindow_start_time'] + num * df['increment_slice']] = num #+ datetime.timedelta(0,num)] 
        
   # Create a column for the starting time of each subwindow 
    df['slice_start_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id'], df['sub_window_num'], df['slice_num']]).transform('min')
    
    # Create a column for the ending time of each interaction 
    df['slice_end_time'] = df['timestamp'].groupby([df['participant_id'], df['property_id'], df['clothes_id'], df['sub_window_num'], df['slice_num']]).transform('max')
    
    # Create a column for the duration of the window
    df['slice_duration'] = df['slice_end_time'] - df['slice_start_time'] 
    df['slice_duration'] = df['slice_duration'].dt.total_seconds()

    return df

def calc_stats(df, data_type='qua', hand='Hand0', stat='max'):
    new_col_names_lst = []
    if data_type=='qua':
        column_names = ['w','x','y','z','AVx','AVy','AVz','AAx','AAy','AAz','AJx','AJy','AJz']    
    elif data_type=='emg':
        column_names = ['ch_01','ch_02','ch_03','ch_04','ch_05','ch_06','ch_07','ch_08']
    elif data_type=='acc':
        column_names = ['Ax','Ay','Az','Vx','Vy','Vz','Jx','Jy','Jz']       
    for col in column_names:
        if data_type=='emg':
            new_col_name = stat+'_'+col[:2]+col[4:]#+'_'+hand
        else:
            new_col_name = stat+'_'+col#+'_'+hand
        new_col_names_lst.append(new_col_name)        
        df[new_col_name] = df[col].groupby([df['participant_id'], df['property_id'], df['clothes_id'], df['sub_window_num'], df['slice_num']]).transform(stat)
    return df, new_col_names_lst

def calc_all_stats(df, data_type='qua', hand='Hand0'):
    cols_lst = []
    stat_list = ['max', 'mean', 'std']
    for stat in stat_list:
        df, added_cols = calc_stats(df, data_type=data_type, hand='Hand0', stat=stat)
        cols_lst = cols_lst + added_cols
    return df, cols_lst
        
    
def add_property_names_column_lili_data(df):
    df.insert(3, 'property_name', 'smoothness')
    df.property_name[df['property_id'] == 4] = 'thickness'
    df.property_name[df['property_id'] == 5] = 'warmth'
    df.property_name[df['property_id'] == 6] = 'flexibility'
    df.property_name[df['property_id'] == 7] = 'softness'
    df.property_name[df['property_id'] == 8] = 'enjoyment'
    return df


def add_property_names_column_2022_data(df):
    df.insert(3, 'property_name', 'smoothness')
    df.property_name[df['property_id'] == 13] = 'thickness'
    df.property_name[df['property_id'] == 14] = 'warmth'
    df.property_name[df['property_id'] == 15] = 'flexibility'
    df.property_name[df['property_id'] == 16] = 'softness'
    df.property_name[df['property_id'] == 17] = 'enjoyment'
    return df


def combine_classes_rating(df):
    df.insert(6, 'rating_level', 'medium')
    df.loc[df['rating'] > 5,'rating_level'] = 'high'
    df.loc[df['rating'] < 3,'rating_level'] = 'low'
    return df


def represent_rating_level_numerically(df):
    df.insert(7, 'rating_level_num', 1)
    df.loc[df['rating_level'] == 'medium','rating_level_num'] = 2
    df.loc[df['rating_level'] == 'high','rating_level_num'] = 3
    return df


def insert_new_interaction_id_lili_data(df):
    df.insert(5, "new_interaction_id", None)
    df['new_interaction_id'] = df.groupby(['participant_id', 'clothes_id', 'property_id'], sort=False).ngroup() + 1
    df.drop(['interaction_id'], axis=1, inplace=True)
    df.rename(columns={'new_interaction_id': 'interaction_id'}, inplace=True)
    return df


def insert_new_interaction_id_2022_data(df):
    df.insert(5, "new_interaction_id", None)
    df['new_interaction_id'] = df.groupby(['participant_id', 'clothes_id', 'property_id'], sort=False).ngroup() + 1
    df['new_interaction_id'] = df['new_interaction_id'] + 300
    df.drop(['interaction_id'], axis=1, inplace=True)
    df.rename(columns={'new_interaction_id': 'interaction_id'}, inplace=True)
    return df


def renumber_socks(df):
    df.clothes_id[(df['clothes_id'] == 25) | (df['clothes_id'] == 31) | (df['clothes_id'] == 38) | (df['clothes_id'] == 44) | (df['clothes_id'] == 50) | (df['clothes_id'] == 56)] = 1
    df.clothes_id[(df['clothes_id'] == 26) | (df['clothes_id'] == 32) | (df['clothes_id'] == 39) | (df['clothes_id'] == 45) | (df['clothes_id'] == 51) | (df['clothes_id'] == 57)] = 2
    df.clothes_id[(df['clothes_id'] == 27) | (df['clothes_id'] == 33) | (df['clothes_id'] == 40) | (df['clothes_id'] == 46) | (df['clothes_id'] == 52) | (df['clothes_id'] == 58)] = 3
    df.clothes_id[(df['clothes_id'] == 28) | (df['clothes_id'] == 34) | (df['clothes_id'] == 41) | (df['clothes_id'] == 47) | (df['clothes_id'] == 53) | (df['clothes_id'] == 59)] = 4
    df.clothes_id[(df['clothes_id'] == 29) | (df['clothes_id'] == 35) | (df['clothes_id'] == 42) | (df['clothes_id'] == 48) | (df['clothes_id'] == 54) | (df['clothes_id'] == 60)] = 5
    df.clothes_id[(df['clothes_id'] == 30) | (df['clothes_id'] == 36) | (df['clothes_id'] == 43) | (df['clothes_id'] == 49) | (df['clothes_id'] == 55) | (df['clothes_id'] == 61)] = 6
    return df

#### Create a function to create datasets

In [15]:
def create_data(df, dataset='lili', data_type='emg', num_subwindows=15, num_slices=25):
    
    # Convert the timestamp to the datetime format
    df['timestamp']= pd.to_datetime(df['timestamp'])
    
    # Sort the values in each df by ascending value of the timestamp
    df.sort_values(by=['timestamp'], inplace=True)
    
    # Split the data into hands 0 (left) and 1 (right)
    df_0 = df[df.hand == 0]
    df_1 = df[df.hand == 1]
    
    # Reset indexes
    df_0.reset_index(inplace=True, drop=True)
    df_1.reset_index(inplace=True, drop=True)

    # Create columns for the starting, ending and duration time of the interaction
    df_0 = interaction_time(df_0)
    df_1 = interaction_time(df_1)
    
    # Obtain the last 15s of data
    df_0 = get_specified_time(df_0)
    df_1 = get_specified_time(df_1)
    
    # Remove data missing from hand 0 from hand 1
    #if dataset == 'lili':
       # df_1 = df_1.drop(df_1[(df_1.participant_id==5) & (df_1.clothes_id==12) & (df_1.property_id==8)].index)
       # df_1 = df_1.drop(df_1[(df_1.participant_id==8) & (df_1.clothes_id==13) & (df_1.property_id==3)].index)

    # Create subwindows
    df_0 = create_subwindows(df_0, col_index=6, num_subwindows=num_subwindows)
    df_1 = create_subwindows(df_1, col_index=6, num_subwindows=num_subwindows)
    
    # Create slices
    df_0 = create_slices(df_0, col_index=7, num_slices=num_slices)
    df_1 = create_slices(df_1, col_index=7, num_slices=num_slices)
    
    cols = ['participant_id', 'clothes_id', 'property_id', 'interaction_id', 'rating', 'sub_window_num', 'slice_num']#, 'slice_start_time', 'slice_end_time'
    cols_without_rating = ['participant_id', 'clothes_id', 'property_id', 'interaction_id', 'sub_window_num', 'slice_num']#, 'slice_start_time', 'slice_end_time'
    
    # Calculate stats - max, mean and std
    df_0_stats, new_cols_0 = calc_all_stats(df_0, data_type=data_type, hand='Hand0')
    df_1_stats, new_cols_1 = calc_all_stats(df_1, data_type=data_type, hand='Hand1')
    
    # Create df with stats
    if data_type == 'qua' and dataset == '2022':
        cols_0 = cols_without_rating + new_cols_0
        cols_1 = cols_without_rating + new_cols_1
    else:
        cols_0 = cols + new_cols_0
        cols_1 = cols + new_cols_1
    
    df_0_stats_new = df_0_stats.loc[:, cols_0]
    df_1_stats_new = df_1_stats.loc[:, cols_1]
    
    # Remove duplicate rows from the dfs - keep only the first row
    df_0_stats_new.drop_duplicates(keep='first', inplace=True)
    df_1_stats_new.drop_duplicates(keep='first', inplace=True)

    # Reset the indexes
    df_0_stats_new.reset_index(drop=True, inplace=True) 
    df_1_stats_new.reset_index(drop=True, inplace=True) 
    
    # Add property names
    if dataset == 'lili':
        df_0_stats_new = add_property_names_column_lili_data(df_0_stats_new)
        df_1_stats_new = add_property_names_column_lili_data(df_1_stats_new)
    elif dataset == '2022':
        df_0_stats_new = add_property_names_column_2022_data(df_0_stats_new)
        df_1_stats_new = add_property_names_column_2022_data(df_1_stats_new)

    # Combine the classes for rating 
    if data_type != 'qua' or dataset != '2022':
        #print('a')
        df_0_stats_new = combine_classes_rating(df_0_stats_new)
        df_1_stats_new = combine_classes_rating(df_1_stats_new)

        # Represent the rating levels numerically
        df_0_stats_new = represent_rating_level_numerically(df_0_stats_new)
        df_1_stats_new = represent_rating_level_numerically(df_1_stats_new)
    
    if dataset == '2022':
        df_0_stats_new = renumber_socks(df_0_stats_new)
        df_1_stats_new = renumber_socks(df_1_stats_new)

    # Insert a new column for interaction id
    if dataset == 'lili':
        df_0_stats_new = insert_new_interaction_id_lili_data(df_0_stats_new)
        df_1_stats_new = insert_new_interaction_id_lili_data(df_1_stats_new)
    elif dataset == '2022':
        df_0_stats_new = insert_new_interaction_id_2022_data(df_0_stats_new)
        df_1_stats_new = insert_new_interaction_id_2022_data(df_1_stats_new)

    return df_0_stats_new, df_1_stats_new

#### Create datasets

In [16]:
lili_qua_0, lili_qua_1 = create_data(df=lili_qua_df, dataset='lili', data_type='qua', num_subwindows=15, num_slices=10)
lili_emg_0, lili_emg_1 = create_data(df=lili_emg_df, dataset='lili', data_type='emg', num_subwindows=15, num_slices=10)
lili_acc_0, lili_acc_1 = create_data(df=lili_acc_df, dataset='lili', data_type='acc', num_subwindows=15, num_slices=10)

In [17]:
print(f'lili_qua_0 shape = {lili_qua_0.shape}')
print(f'lili_qua_1 shape = {lili_qua_1.shape}')

print(f'lili_emg_0 shape = {lili_emg_0.shape}')
print(f'lili_emg_1 shape = {lili_emg_1.shape}')

print(f'lili_acc_0 shape = {lili_acc_0.shape}')
print(f'lili_acc_1 shape = {lili_acc_1.shape}')

lili_qua_0 shape = (42882, 49)
lili_qua_1 shape = (43195, 49)
lili_emg_0 shape = (42835, 34)
lili_emg_1 shape = (43182, 34)
lili_acc_0 shape = (42883, 37)
lili_acc_1 shape = (43193, 37)

#### Merge hands

In [18]:
def merge_data(df0, df1, dataset='lili', data_type = 'qua', with_rating='Yes'):
    if with_rating=='Yes':
        df_merged = pd.merge(df0, df1, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'rating', 'rating_level', 'rating_level_num', 'sub_window_num', 'slice_num'],suffixes=('_hand0', '_hand1'))
    elif with_rating=='No':
        df_merged = pd.merge(df0, df1, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'sub_window_num', 'slice_num'],suffixes=('_hand0', '_hand1'))
        
    print(f'{dataset} {data_type} merged shape: {df_merged.shape}')
    
    # Fill missing values with 0
    df_merged = df_merged.fillna(0)
    
    return df_merged

In [19]:
lili_qua_merged = merge_data(lili_qua_0, lili_qua_1, 'lili', data_type = 'qua', with_rating='Yes')
lili_emg_merged = merge_data(lili_emg_0, lili_emg_1, 'lili', data_type = 'emg', with_rating='Yes')
lili_acc_merged = merge_data(lili_acc_0, lili_acc_1, 'lili', data_type = 'acc', with_rating='Yes')

lili qua merged shape: (64639, 88)
lili emg merged shape: (64614, 58)
lili acc merged shape: (64640, 64)

#### Merge the datasets

In [20]:
# Merge emg_merged and acc_merged
lili_qua_emg_merged = pd.merge(lili_qua_merged, lili_emg_merged, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'rating', 'rating_level', 'rating_level_num', 'sub_window_num', 'slice_num'])

lili_complete_merged_data = pd.merge(lili_qua_emg_merged, lili_acc_merged, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'rating', 'rating_level', 'rating_level_num', 'sub_window_num', 'slice_num'])
lili_complete_merged_data = lili_complete_merged_data.fillna(0)

lili_complete_merged_data.shape

(64645, 190)

## 2022 data

### Load the required data

In [21]:
# Load the processed quaternions data
dat_2022_qua_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/qua_combined_2022.csv"
dat_2022_qua_df = pd.read_csv(dat_2022_qua_path)
dat_2022_qua_df.head()

,id,p_id,itr_id,prj_id,ppt_id,clt_id,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,212444,19,119,622,16,27,1,0.897418,0.059799,-0.405298,0.163701,0.354371,-0.138088,-0.140597,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.316
1,212445,19,119,622,16,27,0,0.050747,0.424152,-0.057506,0.902337,-0.477546,-0.222190,-4.942065,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.326
2,212446,19,119,622,16,27,1,0.899481,0.057231,-0.400058,0.166167,-0.233459,0.107971,0.117765,-18.369691,7.689314,8.073829,-574.052834,240.291077,252.307168,2022-02-13 11:24:11.348
3,212447,19,119,622,16,27,0,0.091317,0.417244,-0.069474,0.901522,-0.386306,-0.333672,-1.060516,2.943233,-3.596196,125.211266,94.943007,-116.006335,4039.073106,2022-02-13 11:24:11.357
4,212448,19,119,622,16,27,1,0.900094,0.055599,-0.397422,0.169693,-0.152659,0.175423,0.231199,2.885740,2.409032,4.051195,759.122513,-188.581511,-143.665506,2022-02-13 11:24:11.376

In [22]:
# Load the processed emg data
dat_2022_emg_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/emg_combined_2022.csv"
dat_2022_emg_df = pd.read_csv(dat_2022_emg_path)
dat_2022_emg_df.head()

,new_id,id,p_id,itr_id,prj_id,ppt_id,rating,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,1,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.521552,0.495902,0.657609,0.549550,0.713450,2022-02-13 11:24:11.302
1,2,132383,19,119,622,16,6,0,27,0.596059,0.502058,0.693642,0.517241,0.491803,0.652174,0.545045,0.701754,2022-02-13 11:24:11.302
2,3,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.536036,0.695906,2022-02-13 11:24:11.302
3,4,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.687861,0.517241,0.491803,0.646739,0.540540,0.690058,2022-02-13 11:24:11.302
4,5,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.540540,0.701754,2022-02-13 11:24:11.302

In [23]:
# Load the processed accellerometer data
dat_2022_acc_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/acc_combined_2022.csv"
dat_2022_acc_df = pd.read_csv(dat_2022_acc_path)
dat_2022_acc_df.head()

,id,p_id,itr_id,prj_id,ppt_id,rating,hand,clt_id,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,212336,19,119,622,16,6,0,27,0.857437,0.001968,0.640823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.334
1,212338,19,119,622,16,6,0,27,0.740250,0.131363,0.659378,-0.003633,0.004011,0.000575,-3.780242,4.174017,0.598538,2022-02-13 11:24:11.365
2,212340,19,119,622,16,6,0,27,0.628922,0.065933,0.610062,-0.002561,-0.001505,-0.001134,-4.840353,-2.844769,-2.144192,2022-02-13 11:24:11.388
3,212342,19,119,622,16,6,0,27,0.545914,-0.040512,0.604202,-0.002407,-0.003087,-0.000170,-2.862338,-3.670528,-0.202047,2022-02-13 11:24:11.417
4,212344,19,119,622,16,6,0,27,0.794449,-0.037094,0.694046,0.012924,0.000178,0.004672,4.779522,0.065730,1.727764,2022-02-13 11:24:11.469

### Rename the required columns

In [24]:
dat_2022_qua_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'prj_id': 'project_id',  'ppt_id': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
dat_2022_qua_df.head()

,id,participant_id,interaction_id,project_id,property_id,clothes_id,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,212444,19,119,622,16,27,1,0.897418,0.059799,-0.405298,0.163701,0.354371,-0.138088,-0.140597,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.316
1,212445,19,119,622,16,27,0,0.050747,0.424152,-0.057506,0.902337,-0.477546,-0.222190,-4.942065,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.326
2,212446,19,119,622,16,27,1,0.899481,0.057231,-0.400058,0.166167,-0.233459,0.107971,0.117765,-18.369691,7.689314,8.073829,-574.052834,240.291077,252.307168,2022-02-13 11:24:11.348
3,212447,19,119,622,16,27,0,0.091317,0.417244,-0.069474,0.901522,-0.386306,-0.333672,-1.060516,2.943233,-3.596196,125.211266,94.943007,-116.006335,4039.073106,2022-02-13 11:24:11.357
4,212448,19,119,622,16,27,1,0.900094,0.055599,-0.397422,0.169693,-0.152659,0.175423,0.231199,2.885740,2.409032,4.051195,759.122513,-188.581511,-143.665506,2022-02-13 11:24:11.376

In [25]:
dat_2022_emg_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'prj_id': 'project_id',  'ppt_id': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
dat_2022_emg_df.head()

,new_id,id,participant_id,interaction_id,project_id,property_id,rating,hand,clothes_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,1,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.521552,0.495902,0.657609,0.549550,0.713450,2022-02-13 11:24:11.302
1,2,132383,19,119,622,16,6,0,27,0.596059,0.502058,0.693642,0.517241,0.491803,0.652174,0.545045,0.701754,2022-02-13 11:24:11.302
2,3,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.536036,0.695906,2022-02-13 11:24:11.302
3,4,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.687861,0.517241,0.491803,0.646739,0.540540,0.690058,2022-02-13 11:24:11.302
4,5,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.540540,0.701754,2022-02-13 11:24:11.302

In [26]:
dat_2022_acc_df.rename(columns={'p_id': 'participant_id', 'itr_id': 'interaction_id',  'prj_id': 'project_id',  'ppt_id': 'property_id', 'clt_id': 'clothes_id'}, inplace=True)
dat_2022_acc_df.head()

,id,participant_id,interaction_id,project_id,property_id,rating,hand,clothes_id,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,212336,19,119,622,16,6,0,27,0.857437,0.001968,0.640823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.334
1,212338,19,119,622,16,6,0,27,0.740250,0.131363,0.659378,-0.003633,0.004011,0.000575,-3.780242,4.174017,0.598538,2022-02-13 11:24:11.365
2,212340,19,119,622,16,6,0,27,0.628922,0.065933,0.610062,-0.002561,-0.001505,-0.001134,-4.840353,-2.844769,-2.144192,2022-02-13 11:24:11.388
3,212342,19,119,622,16,6,0,27,0.545914,-0.040512,0.604202,-0.002407,-0.003087,-0.000170,-2.862338,-3.670528,-0.202047,2022-02-13 11:24:11.417
4,212344,19,119,622,16,6,0,27,0.794449,-0.037094,0.694046,0.012924,0.000178,0.004672,4.779522,0.065730,1.727764,2022-02-13 11:24:11.469

### Create a rating column for qua_data

dat_2022_qua_df.head(2)

import time
t1 = time.time()
acc_rating = dat_2022_acc_df[['interaction_id', 'rating']]
#acc_rating
#a = pd.merge(dat_2022_qua_df, acc_rating, how='left', on=['interaction_id'])
a = dat_2022_qua_df.merge(acc_rating, how='left', on = 'interaction_id')

#x = df1.merge(df2, how='left', left_on='A', right_on='A2')

t2 = time.time()

cgvhbkj

### Check if the dfs contain NA values

In [27]:
dat_2022_qua_df.isna().sum()

id                0
participant_id    0
interaction_id    0
project_id        0
property_id       0
clothes_id        0
hand              0
w                 0
x                 0
y                 0
z                 0
AVx               0
AVy               0
AVz               0
AAx               0
AAy               0
AAz               0
AJx               0
AJy               0
AJz               0
timestamp         0
dtype: int64

In [28]:
dat_2022_emg_df.isna().sum()

new_id            0
id                0
participant_id    0
interaction_id    0
project_id        0
property_id       0
rating            0
hand              0
clothes_id        0
ch_01             0
ch_02             0
ch_03             0
ch_04             0
ch_05             0
ch_06             0
ch_07             0
ch_08             0
timestamp         0
dtype: int64

In [29]:
dat_2022_acc_df.isna().sum()

id                0
participant_id    0
interaction_id    0
project_id        0
property_id       0
rating            0
hand              0
clothes_id        0
Ax                0
Ay                0
Az                0
Vx                0
Vy                0
Vz                0
Jx                0
Jy                0
Jz                0
timestamp         0
dtype: int64

### Drop the required columns

In [30]:
dat_2022_qua_df.drop(['id'], axis=1, inplace=True)
dat_2022_qua_df.head()

,participant_id,interaction_id,project_id,property_id,clothes_id,hand,w,x,y,z,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,19,119,622,16,27,1,0.897418,0.059799,-0.405298,0.163701,0.354371,-0.138088,-0.140597,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.316
1,19,119,622,16,27,0,0.050747,0.424152,-0.057506,0.902337,-0.477546,-0.222190,-4.942065,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.326
2,19,119,622,16,27,1,0.899481,0.057231,-0.400058,0.166167,-0.233459,0.107971,0.117765,-18.369691,7.689314,8.073829,-574.052834,240.291077,252.307168,2022-02-13 11:24:11.348
3,19,119,622,16,27,0,0.091317,0.417244,-0.069474,0.901522,-0.386306,-0.333672,-1.060516,2.943233,-3.596196,125.211266,94.943007,-116.006335,4039.073106,2022-02-13 11:24:11.357
4,19,119,622,16,27,1,0.900094,0.055599,-0.397422,0.169693,-0.152659,0.175423,0.231199,2.885740,2.409032,4.051195,759.122513,-188.581511,-143.665506,2022-02-13 11:24:11.376

In [31]:
dat_2022_emg_df.drop(['new_id', 'id'], axis=1, inplace=True)
dat_2022_emg_df.head()

,participant_id,interaction_id,project_id,property_id,rating,hand,clothes_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.521552,0.495902,0.657609,0.549550,0.713450,2022-02-13 11:24:11.302
1,19,119,622,16,6,0,27,0.596059,0.502058,0.693642,0.517241,0.491803,0.652174,0.545045,0.701754,2022-02-13 11:24:11.302
2,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.536036,0.695906,2022-02-13 11:24:11.302
3,19,119,622,16,6,0,27,0.596059,0.497942,0.687861,0.517241,0.491803,0.646739,0.540540,0.690058,2022-02-13 11:24:11.302
4,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.540540,0.701754,2022-02-13 11:24:11.302

In [32]:
dat_2022_acc_df.drop(['id'], axis=1, inplace=True)
dat_2022_acc_df.head()

,participant_id,interaction_id,project_id,property_id,rating,hand,clothes_id,Ax,Ay,Az,Vx,Vy,Vz,Jx,Jy,Jz,timestamp
0,19,119,622,16,6,0,27,0.857437,0.001968,0.640823,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2022-02-13 11:24:11.334
1,19,119,622,16,6,0,27,0.740250,0.131363,0.659378,-0.003633,0.004011,0.000575,-3.780242,4.174017,0.598538,2022-02-13 11:24:11.365
2,19,119,622,16,6,0,27,0.628922,0.065933,0.610062,-0.002561,-0.001505,-0.001134,-4.840353,-2.844769,-2.144192,2022-02-13 11:24:11.388
3,19,119,622,16,6,0,27,0.545914,-0.040512,0.604202,-0.002407,-0.003087,-0.000170,-2.862338,-3.670528,-0.202047,2022-02-13 11:24:11.417
4,19,119,622,16,6,0,27,0.794449,-0.037094,0.694046,0.012924,0.000178,0.004672,4.779522,0.065730,1.727764,2022-02-13 11:24:11.469

### Create datasets

In [33]:
dat_2022_qua_0, dat_2022_qua_1 =  create_data(df=dat_2022_qua_df, dataset='2022', data_type='qua', num_subwindows=15, num_slices=10)
dat_2022_emg_0, dat_2022_emg_1 =  create_data(df=dat_2022_emg_df, dataset='2022', data_type='emg', num_subwindows=15, num_slices=10)
dat_2022_acc_0, dat_2022_acc_1 =  create_data(df=dat_2022_acc_df, dataset='2022', data_type='acc', num_subwindows=15, num_slices=10)

In [34]:
print(f'dat_2022_qua_0 shape = {dat_2022_qua_0.shape}')
print(f'dat_2022_qua_1 shape = {dat_2022_qua_1.shape}')

print(f'dat_2022_emg_0 shape = {dat_2022_emg_0.shape}')
print(f'dat_2022_emg_1 shape = {dat_2022_emg_1.shape}')

print(f'dat_2022_acc_0 shape = {dat_2022_acc_0.shape}')
print(f'dat_2022_acc_1 shape = {dat_2022_acc_1.shape}')

dat_2022_qua_0 shape = (32337, 46)
dat_2022_qua_1 shape = (32343, 46)
dat_2022_emg_0 shape = (32199, 34)
dat_2022_emg_1 shape = (32279, 34)
dat_2022_acc_0 shape = (32326, 37)
dat_2022_acc_1 shape = (32335, 37)

In [35]:
dat_2022_qua_merged = merge_data(dat_2022_qua_0, dat_2022_qua_1, dataset='2022', data_type = 'qua', with_rating='No')
dat_2022_emg_merged = merge_data(dat_2022_emg_0, dat_2022_emg_1, dataset='2022', data_type = 'emg', with_rating='Yes')
dat_2022_acc_merged = merge_data(dat_2022_acc_0, dat_2022_acc_1, dataset='2022', data_type = 'acc', with_rating='Yes')

2022 qua merged shape: (32385, 85)
2022 emg merged shape: (32354, 58)
2022 acc merged shape: (32380, 64)

### Merge the datasets

In [36]:
# Merge emg_merged and acc_merged
dat_2022_emg_acc_merged = pd.merge(dat_2022_emg_merged, dat_2022_acc_merged, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'rating', 'rating_level', 'rating_level_num', 'sub_window_num', 'slice_num'])

dat_2022_complete_merged_data = pd.merge(dat_2022_emg_acc_merged, dat_2022_qua_merged, how='outer', on=['participant_id', 'clothes_id', 'property_id', 'property_name', 'interaction_id', 'sub_window_num', 'slice_num'])
dat_2022_complete_merged_data = dat_2022_complete_merged_data.fillna(0)
dat_2022_complete_merged_data.shape

(32388, 190)

## Combine datasets

In [37]:
print(lili_complete_merged_data.shape)
print(dat_2022_complete_merged_data.shape)

(64645, 190)
(32388, 190)

In [38]:
# Change clothes ids for 2022 data
dat_2022_complete_merged_data['clothes_id'] = dat_2022_complete_merged_data['clothes_id'] + 30

In [39]:
# Change property ids
lili_complete_merged_data['property_id'] = lili_complete_merged_data['property_id'] - 3
dat_2022_complete_merged_data['property_id'] = dat_2022_complete_merged_data['property_id'] - 12

In [40]:
# Change rating for rating == 0
dat_2022_complete_merged_data.iloc[32384:32386, 5:8] = 4,'medium',2
dat_2022_complete_merged_data.iloc[32386, 5:8] = 6,'high',3
dat_2022_complete_merged_data.iloc[32387, 5:8] = 3,'medium',2

In [41]:
combined_df = pd.concat([lili_complete_merged_data, dat_2022_complete_merged_data], axis=0)
combined_df.head()

,participant_id,clothes_id,property_id,property_name,interaction_id,rating,rating_level,rating_level_num,sub_window_num,slice_num,max_w_hand0,max_x_hand0,max_y_hand0,max_z_hand0,max_AVx_hand0,max_AVy_hand0,max_AVz_hand0,max_AAx_hand0,max_AAy_hand0,max_AAz_hand0,max_AJx_hand0,max_AJy_hand0,max_AJz_hand0,mean_w_hand0,mean_x_hand0,mean_y_hand0,mean_z_hand0,mean_AVx_hand0,mean_AVy_hand0,mean_AVz_hand0,mean_AAx_hand0,mean_AAy_hand0,mean_AAz_hand0,mean_AJx_hand0,mean_AJy_hand0,mean_AJz_hand0,std_w_hand0,std_x_hand0,std_y_hand0,std_z_hand0,std_AVx_hand0,std_AVy_hand0,std_AVz_hand0,std_AAx_hand0,std_AAy_hand0,std_AAz_hand0,std_AJx_hand0,std_AJy_hand0,std_AJz_hand0,max_w_hand1,max_x_hand1,max_y_hand1,max_z_hand1,max_AVx_hand1,max_AVy_hand1,max_AVz_hand1,max_AAx_hand1,max_AAy_hand1,max_AAz_hand1,max_AJx_hand1,max_AJy_hand1,max_AJz_hand1,mean_w_hand1,mean_x_hand1,mean_y_hand1,mean_z_hand1,mean_AVx_hand1,mean_AVy_hand1,mean_AVz_hand1,mean_AAx_hand1,mean_AAy_hand1,mean_AAz_hand1,mean_AJx_hand1,mean_AJy_hand1,mean_AJz_hand1,std_w_hand1,std_x_hand1,std_y_hand1,std_z_hand1,std_AVx_hand1,std_AVy_hand1,std_AVz_hand1,std_AAx_hand1,std_AAy_hand1,std_AAz_hand1,std_AJx_hand1,std_AJy_hand1,std_AJz_hand1,max_ch1_hand0,max_ch2_hand0,max_ch3_hand0,max_ch4_hand0,max_ch5_hand0,max_ch6_hand0,max_ch7_hand0,max_ch8_hand0,mean_ch1_hand0,mean_ch2_hand0,mean_ch3_hand0,mean_ch4_hand0,mean_ch5_hand0,mean_ch6_hand0,mean_ch7_hand0,mean_ch8_hand0,std_ch1_hand0,std_ch2_hand0,std_ch3_hand0,std_ch4_hand0,std_ch5_hand0,std_ch6_hand0,std_ch7_hand0,std_ch8_hand0,max_ch1_hand1,max_ch2_hand1,max_ch3_hand1,max_ch4_hand1,max_ch5_hand1,max_ch6_hand1,max_ch7_hand1,max_ch8_hand1,mean_ch1_hand1,mean_ch2_hand1,mean_ch3_hand1,mean_ch4_hand1,mean_ch5_hand1,mean_ch6_hand1,mean_ch7_hand1,mean_ch8_hand1,std_ch1_hand1,std_ch2_hand1,std_ch3_hand1,std_ch4_hand1,std_ch5_hand1,std_ch6_hand1,std_ch7_hand1,std_ch8_hand1,max_Ax_hand0,max_Ay_hand0,max_Az_hand0,max_Vx_hand0,max_Vy_hand0,max_Vz_hand0,max_Jx_hand0,max_Jy_hand0,max_Jz_hand0,mean_Ax_hand0,mean_Ay_hand0,mean_Az_hand0,mean_Vx_hand0,mean_Vy_hand0,mean_Vz_hand0,mean_Jx_hand0,mean_Jy_hand0,mean_Jz_hand0,std_Ax_hand0,std_Ay_hand0,std_Az_hand0,std_Vx_hand0,std_Vy_hand0,std_Vz_hand0,std_Jx_hand0,std_Jy_hand0,std_Jz_hand0,max_Ax_hand1,max_Ay_hand1,max_Az_hand1,max_Vx_hand1,max_Vy_hand1,max_Vz_hand1,max_Jx_hand1,max_Jy_hand1,max_Jz_hand1,mean_Ax_hand1,mean_Ay_hand1,mean_Az_hand1,mean_Vx_hand1,mean_Vy_hand1,mean_Vz_hand1,mean_Jx_hand1,mean_Jy_hand1,mean_Jz_hand1,std_Ax_hand1,std_Ay_hand1,std_Az_hand1,std_Vx_hand1,std_Vy_hand1,std_Vz_hand1,std_Jx_hand1,std_Jy_hand1,std_Jz_hand1
0,7,14,0,smoothness,1,3.0,medium,2.0,1,1,0.179352,0.484946,0.160615,-0.840857,0.009831,0.012959,0.117029,1.270143,2.238883,19.812834,154.113175,104.818227,1338.775861,0.178765,0.484513,0.160469,-0.841154,-0.016003,-0.027618,-0.081836,0.129868,0.552890,-1.016133,16.779031,-45.915024,210.907738,0.000451,0.000472,0.000210,0.000335,0.016423,0.031903,0.200440,1.160057,1.546528,13.337295,97.220032,155.178181,1114.885458,0.600343,-0.175433,-0.769104,-0.129347,0.140072,0.440644,0.126734,5.745156,20.612016,5.331893,212.817696,779.034203,579.105295,0.598260,-0.176827,-0.770695,-0.129768,0.053843,0.125821,-0.043329,0.487977,0.515185,-1.737315,-44.056190,-91.541428,81.034379,0.002302,0.000906,0.001676,0.000510,0.073437,0.280630,0.115024,3.958058,13.903979,6.202001,170.597999,792.769940,449.786951,0.5,0.615385,0.670391,0.495868,0.759036,0.652406,0.75625,0.666667,0.497805,0.613462,0.665764,0.492188,0.718656,0.636197,0.748926,0.660851,0.002324,0.002503,0.003077,0.002455,0.006501,0.004039,0.003061,0.002083,0.508197,0.908451,0.751445,0.730159,0.493878,0.995918,0.648515,0.576037,0.496670,0.846831,0.691595,0.636244,0.491412,0.608674,0.601382,0.558852,0.004198,0.014491,0.015432,0.026432,0.002186,0.218816,0.022186,0.006429,-0.857056,-0.084885,0.479568,0.000208,0.000215,0.000349,0.718061,0.488281,1.206342,-0.863110,-0.091721,0.468826,9.082031e-06,-0.000028,-0.000006,0.036854,0.039343,0.092439,0.006753,0.007619,0.010341,0.000193,0.000245,0.000281,0.488563,0.441082,0.750762,0.986160,0.013489,-0.211105,0.001218,0.000510,0.000937,1.448006,0.708008,2.343750,0.964774,-0.007117,-0.249875,1.117188e-04,0.000070,0.000027,-0.104780,0.096063,0.335256,0.022364,0.013963,0.028878,0.000738,0.000331,0.000943,1.260192,0.571902,1.565671
1,7,14,0,smoothness,1,3.0,medium,2.0,1,2,0.176189,0.485587,0.159029,-0.841541,0.133141,0.061469,0.043901,4.332320,2.887801,12.346117,165.242446,140.565259,615.469160,0.175885,0.485399,0.158387,-0.841644,0.050176,0.020933,-0.022867,0.428492,0.224097,3.416566,-216.183273,-80.686083,232.653044,0.000331,0.000123,0.000423,0.000076,0.063817,0.036748,0.077514,3.233995,1.553890,5.736241,586.244076,234.136553,556.915683,0.603038,-0.175326,-0.766516,-0.128901,0.115731,0.321439,0.121293,5.012583,12.815405,7.555850,224.865107,706.861321,549.917517,0.600378,-0.176324,-0.769133,-0.129948,0.030569,0.132933,-0.023579,1.005235,2.467654,-1.775671,2.892800,-87.699311,-108.119283,0.001406,0.000820,0.001312,0.000867,0.055740,0.140247,0.158323,2.578049,8.649329,8.466336,187.474756,696.353488,622.765618,0.5,0.615385,0.670391,0.495868,0.734940,0.641711,0.75625,0.666667,0.497331,0.612607,0.665735,0.492597,0.717746,0.635807,0.749609,0.661458,0.002484,0.002791,0.003327,0.002405,0.008698,0.005318,0.003954,0.002901,0.504098,0.929578,0.757225,0.714286,0.497959,0.734694,0.633663,0.571429,0.497375,0.849582,0.692467,0.635417,0.491965,0.503827,0.596070,0.557604,0.002954,0.013122,0.013631,0.022183,0.002619,0.111327,0.012712,0.004858,-0.857056,-0.084885,0.474686,0.000095,0.000256,0.000317,0.563401,0.944010,1.878005,-0.864478,-0.095041,0.466776,9.765625e-08,-0.000016,-0.000067,0.069561,-0.096004,0.077474,0.004900,0.009589,0.009925,0.000092,0.000279,0.000253,0.402547,1.013362,1.039248,0.992020,0.002258,-0.233078,0.000466,0.000281,0.000830,1.437717,1.255580,1.489258,0.974197,-0.014669,-0.249680,-1.163737e-05,-0.000108,0.000176,0.015346,-0.161628,0.199220,0.013709,0.010763,0.014762,0.000277,0.000409,0.000450,0.806361,1.094488,1.251700
2,7,14,0,smoothness,1,3.0,medium,2.0,1,3,0.175420,0.486364,0.159025,-0.841592,0.004300,0.006697,0.059080,2.017495,1.433494,8.710260,554.574503,268.044509,424.425134,0.174108,0.486077,0.157710,-0.841750,-0.032439,-0.014993,-0.048357,-1.806178,-0.672885,-1.057210,49.814640,3.745668,-139.450471,0.000775,0.000376,0.000817,0.000121,0.022678,0.016039,0.110523,4.044649,2.649872,7.347502,311.488508,208.452524,736.223136,0.613327,-0.176585,-0.758505,-0.131125,0.139470,0.398959,0.045814,4.164473,12.761640,10.404938,649.805789,1527.420437,519.653553,0.610256,-0.176983,-0.760867,-0.131678,0.051381,0.248855,0.023004,-0.510481,-0.382400,1.409711,64.171485,18.288726,-53.628672,0.002365,0.000324,0.001801,0.000421,0.085341,0.122248,0.020458,4.730311,9.167239,5.244792,380.644859,894.676534,492.696123,0.5,0.620513,0.670391,0.495868,0.740964,0.647059,0.75625,0.666667,0.497504,0.612607,0.666201,0.492511,0.718373,0.636809,0.748307,0.660995,0.002042,0.002791,0.002938,0.002199,0.007508,0.004658,0.003347,0.002685,0.500000,0.866197,0.699422,0.645503,0.493878,0.685714,0.618812,0.571429,0.497268,0.847711,0.691595,0.634039,0.491327,0.476105,0.594884,0.557988,0.003087,0.005556,0.003264,0.004274,0.001997,0.092711,0.008191,0.005364,-0.852173,-0.082443,0.475174,0.000330,0.000281,0.000220,0.906808,0.449219,0.592913,-0.862817,-0.094943,0.466385,-1.132812e-05,0.000098,-0.000050,0.069983,0.019696,-0.033961,0.010145,0.009021,0.006050,0.000275,0.000182,0.000209,0.628876,0.446873,0.478738,0.991043,-0.003113,-0.198410,0.000416,0.000427,0.001187,0.785496,0.806726,1.159668,0.972586,-0.017859,-0.217062,-4.882813e-07,-0.000010,0.000148,0.211373,-0.105115,-0.080995,0.014115,0.009521,0.014976,0.000383,0.000359,0.000618,0.589524,1.040070,0.992292
3,7,14,0,smoothness,1,3.0,medium,2.0,1,4,0.174454,0.486522,0.156278,-0.841936,0.006764,0.005302,0.042930,2.314447,0.774435,11.379475,115.560261,65.426803,662.709244,0.172737,0.486404,0.154664,-0.842407,-0.027498,-0.001420,-0.110571,0.531482,0.106488,-0.267177,-34.985147,14.486963,-186.836490,0.001145,0.000209,0.001076,0.000314,0.036174,0.004493,0.144953,1.566252,0.466043,9.341831,160.556495,37.410321,921.217386,0.618680,-0.177124,-0.753378,-0.131839,0.173872,0.320532,-0.069988,2.608770,1.143752,-1.314365,-33.100067,3.814586,208.877911,0.617947,-0.177514,-0.754276,-0.133027,0.088206,0.149616,-0.131999,-3.232508,-7.028403,-2.625410,-252.208344,-303.849649,-8.786893,0.001179,0.000635,0.001239,0.001194,0.115058,0.195463,0.054990,6.219711,7.714367,2.122456,193.986947,290.840360,216.525244,0.5,0.615385,0.675978,0.495868,0.722892,0.647059,0.76250,0.666667,0.497676,0.612607,0.666201,0.492166,0.718373,0.637478,0.749349,0.660417,0.002544,0.002583,0.002703,0.002129,0.003623,0.003481,0.003469,0.003366,0.504098,0.866197,0.705202,0.650794,0.493878,0.787755,0.628713,0.576037,0.497183,0.848591,0.691835,0.633764,0.492092,0.540434,0.600093,0.559476,0.002839,0.005657,0.004265,0.006547,0.002057,0.109162,0.014100,0.006607,-0.857056,-0.068771,0.482498,0.000286,0.000260,0.000278,1.269531,0.719572,0.770970,-0.866528,-0.084103,0.476443,-6.630859e-05,-0.000054,0.000054,-0.025835,-0.170118,0.186197,0.006789,0.011025,0.006789,0.000228,0.000194,0.000224,0.777207,0.568810,0.501869,0.974930,0.005676,-0.178879,0.000523,0.000256,0.001220,1.185826,1.139323,1.302083,0.964350,-0.008809,-0.191086,-2.908529e-04,-0.000059,0.000385,-0.162318,-0.022144,0.332164,0.012866,0.013375,0.010642,0.000824,0.000434,0.000794,1.224161,1.199073,1.068872
4,7,14,0,smoothness,1,3.0,medium,2.0,1,5,0.171828,0.486377,0.155308,-0.842687,0.051942,0.046418,0.028305,2.167587,1.173944,3.115225,116.744319,42.480494,240.661919,0.171385,0.486033,0.154898,-0.842855,0.023378,0.019177,-0.001750,-0.178144,-0.205674,0.458694,-12.632382,-27.099915,64.146291,0.000234,0.000225,0.000440,0.000096,0.022904,0.020641,0.022090,1.303469,1.026663,1.524111,108.642753,66.800589,151.705323,0.617756,-0.179027,-0.753498,-0.133178,0.081987,0.076177,0.275227,21.603607,56.450019,29.424453,2797.763022,9050.317251,2366.953044,0.608768,-0.179851,-0.760911,-0.134045,-0.157557,-0.563161,0.016789,0.834538,2.442042,2.794393,357.828889,1043.185698,84.447301,0.008409,0.000700,0.006875,0.000894,0.167600,0.572710,0.179101,12.984182,39.396991,14.842166,1229.137650,3678.905761,1628.943160,0.5,0.615385,0.670391,0.495868,0.734940,0.647059,0.76250,0.666667,0.497418,0.612286,0.665502,0.491822,0.719126,0.636810,0.748958,0.660532,0.002503,0.002747,0.002966,0.001806,0.004051,0.003087,0.004340,0.002863,0.500000,0.859155,0.693642,0.640212,0.493878,0.673469,0.608911,0.566820,0.496542,0.848371,0.691113,0.634260,0.491008,0.493941,0.594910,0.557604,0.002553,0.004341,0.002891,0.003333,0.002143,0.098174,0.009725,0.005128,-0.857056,-0.075119,0.490311,0.000216,0.000406,0.000343,0.830078,0.600962,0.781250,-0.863013,-0.090549,0.474100,3.515625e-06,0.000115,-0.000121,0.139281,0.167780,-0.097263,0.005067,0.009197,0.012057,0.000156,0.000176,0.000394,0.446644,0.262082,0.830701,1.023270,0.007141,-0.189621,0.000690,0.000289,0.000414,4.089355,4.516602,1.617432,0.979603,-0.017552,-0.231474,-6.821987e-05,0.000013,-0.000099,0.569523,0.594643,-1.278555,0.024091,0.018184,0.046005,0.000512,0.000253,0.000316,2.398816,1.957802,3.178717

In [42]:
# Convert required columns to int (rating and rating_level_num)
combined_df['rating'] = combined_df['rating'].astype('int')
combined_df['rating_level_num'] = combined_df['rating_level_num'].astype('int')

In [43]:
# Sort values
combined_df.sort_values(by=['interaction_id', 'sub_window_num', 'slice_num'], inplace=True)

In [44]:
print(f'Participant ids: {sorted(combined_df.participant_id.unique())}')
print(f'Clothes ids: {sorted(combined_df.clothes_id.unique())}')
print(f'Property ids: {sorted(combined_df.property_id.unique())}')
print(f'Property names: {sorted(combined_df.property_name.unique())}')
print(f'Rating: {sorted(combined_df.rating.unique())}')
print(f'Rating level: {sorted(combined_df.rating_level.unique())}')
print(f'Rating level num: {sorted(combined_df.rating_level_num.unique())}')
print(f'Num subwindows: {sorted(combined_df.sub_window_num.unique())}')
print(f'Num slices: {sorted(combined_df.slice_num.unique())}')

Participant ids: [1, 2, 3, 4, 5, 6, 7, 8, 19, 21, 22, 23, 24, 25]
Clothes ids: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 31, 32, 33, 34, 35, 36]
Property ids: [0, 1, 2, 3, 4, 5]
Property names: ['enjoyment', 'flexibility', 'smoothness', 'softness', 'thickness', 'warmth']
Rating: [1, 2, 3, 4, 5, 6, 7]
Rating level: ['high', 'low', 'medium']
Rating level num: [1, 2, 3]
Num subwindows: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Num slices: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# Check for na values
combined_df.isna().sum()

participant_id    0
clothes_id        0
property_id       0
property_name     0
interaction_id    0
                 ..
std_Vy_hand1      0
std_Vz_hand1      0
std_Jx_hand1      0
std_Jy_hand1      0
std_Jz_hand1      0
Length: 190, dtype: int64

In [46]:
# Save the created dataset
write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/complete_dataset_15subwindows.csv"
combined_df.to_csv(write_path, index = None)

In [47]:
gvjhbkjln

NameError: name 'gvjhbkjln' is not defined