## Processing emg data (2022 dataset)

In [1]:
from cv2 import mean
import pandas as pd
import quaternion as Q
import numpy as np
import time
from datetime import datetime
from asyncore import write
import math
import pandas as pd
import datetime as dt


import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
#pd.set_option("display.max_columns", None)
#pd.set_option("display.max_rows", None)
#pd.options.display.max_rows = 50

### Step 1 - Remove the ppt_name column

In [2]:
for participant in range(19,26):
    print("Participant: ", participant)
    if participant != 20:

        path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_processed.csv"
        data = pd.read_csv(path)
        
        data.drop(['ppt_name'], axis=1, inplace=True)

        write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_processed_prop.csv"
        data.to_csv(write_path, index = None)

Participant:  19
Participant:  20
Participant:  21
Participant:  22
Participant:  23
Participant:  24
Participant:  25

In [3]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/Participant21/emg_processed_prop.csv"
data = pd.read_csv(path)
data.head()

,new_id,id,p_id,itr_id,prj_id,ppt_id,rating,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,1,167324,21,157,622,14,5,1,34,124,122,121,119,119,118,119,121,2022-02-13 15:03:39.708
1,2,167324,21,157,622,14,5,1,34,121,121,121,119,120,122,122,120,2022-02-13 15:03:39.708
2,3,167324,21,157,622,14,5,1,34,120,121,121,120,121,121,120,120,2022-02-13 15:03:39.708
3,4,167324,21,157,622,14,5,1,34,120,120,120,119,121,120,120,119,2022-02-13 15:03:39.708
4,5,167324,21,157,622,14,5,1,34,120,121,122,120,119,119,119,120,2022-02-13 15:03:39.708

path = "/Users/niharawarawita/Desktop/MSc Project/Data/EMG_data_collection/"+"Participant"+str(24)+"/emg_processed_prop.csv"
#print(path)
data = pd.read_csv(path)
data.head()

### Step 2 - Rectification

In [4]:
for participant in range(19,26):
    #print("Participant: ", participant)
    if participant != 20:

        path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_processed_prop.csv"
        data = pd.read_csv(path)

        # Convert required columns to numeric
        data['ch_01'] = pd.to_numeric(data["ch_01"], downcast='float')
        data['ch_02'] = pd.to_numeric(data["ch_02"], downcast='float')
        data['ch_03'] = pd.to_numeric(data["ch_03"], downcast='float')
        data['ch_04'] = pd.to_numeric(data["ch_04"], downcast='float')
        data['ch_05'] = pd.to_numeric(data["ch_05"], downcast='float')
        data['ch_06'] = pd.to_numeric(data["ch_06"], downcast='float')
        data['ch_07'] = pd.to_numeric(data["ch_07"], downcast='float')
        data['ch_08'] = pd.to_numeric(data["ch_08"], downcast='float')
        
        # Obtain the absolute values
        data['ch_01'] = abs(data["ch_01"])
        data['ch_02'] = abs(data["ch_02"])
        data['ch_03'] = abs(data["ch_03"])
        data['ch_04'] = abs(data["ch_04"])
        data['ch_05'] = abs(data["ch_05"])
        data['ch_06'] = abs(data["ch_06"])
        data['ch_07'] = abs(data["ch_07"])
        data['ch_08'] = abs(data["ch_08"])
  
        write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_prop_rectified.csv"
        data.to_csv(write_path, index = None)

### Step 3 - Normalisation

In [5]:
for participant in range(19,26):
    print("Participant: ", participant)
    if participant != 20:

        path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_prop_rectified.csv"
        data = pd.read_csv(path)

        data['ch_01'] = pd.to_numeric(data["ch_01"], downcast='float')
        data['ch_02'] = pd.to_numeric(data["ch_02"], downcast='float')
        data['ch_03'] = pd.to_numeric(data["ch_03"], downcast='float')
        data['ch_04'] = pd.to_numeric(data["ch_04"], downcast='float')
        data['ch_05'] = pd.to_numeric(data["ch_05"], downcast='float')
        data['ch_06'] = pd.to_numeric(data["ch_06"], downcast='float')
        data['ch_07'] = pd.to_numeric(data["ch_07"], downcast='float')
        data['ch_08'] = pd.to_numeric(data["ch_08"], downcast='float')

        hand0 = data[data['hand']==0]        
        hand1 = data[data['hand']==1]

        max0_ch1 = np.max(hand0['ch_01'])
        max1_ch1 = np.max(hand1['ch_01'])
        max0_ch2 = np.max(hand0['ch_02'])
        max1_ch2 = np.max(hand1['ch_02'])
        max0_ch3 =np.max(hand0['ch_03'])
        max1_ch3 =np.max(hand1['ch_03'])
        max0_ch4 =np.max(hand0['ch_04'])
        max1_ch4 =np.max(hand1['ch_04'])
        max0_ch5 =np.max(hand0['ch_05'])
        max1_ch5 =np.max(hand1['ch_05'])
        max0_ch6 =np.max(hand0['ch_06'])
        max1_ch6 =np.max(hand1['ch_06'])
        max0_ch7 =np.max(hand0['ch_07'])
        max1_ch7 =np.max(hand1['ch_07'])
        max0_ch8 =np.max(hand0['ch_08'])
        max1_ch8 =np.max(hand1['ch_08'])

        num_dec = 6
        
        hand0['ch_01'] = round(hand0['ch_01']/max0_ch1,num_dec)
        hand0['ch_02'] = round(hand0['ch_02']/max0_ch2,num_dec)
        hand0['ch_03'] = round(hand0['ch_03']/max0_ch3,num_dec)
        hand0['ch_04'] = round(hand0['ch_04']/max0_ch4,num_dec)
        hand0['ch_05'] = round(hand0['ch_05']/max0_ch5,num_dec)
        hand0['ch_06'] = round(hand0['ch_06']/max0_ch6,num_dec)
        hand0['ch_07'] = round(hand0['ch_07']/max0_ch7,num_dec)
        hand0['ch_08'] = round(hand0['ch_08']/max0_ch8,num_dec)
        
        hand1['ch_01'] = round(hand1['ch_01']/max1_ch1,num_dec)
        hand1['ch_02'] = round(hand1['ch_02']/max1_ch2,num_dec)
        hand1['ch_03'] = round(hand1['ch_03']/max1_ch3,num_dec)
        hand1['ch_04'] = round(hand1['ch_04']/max1_ch4,num_dec)
        hand1['ch_05'] = round(hand1['ch_05']/max1_ch5,num_dec)
        hand1['ch_06'] = round(hand1['ch_06']/max1_ch6,num_dec)
        hand1['ch_07'] = round(hand1['ch_07']/max1_ch7,num_dec)
        hand1['ch_08'] = round(hand1['ch_08']/max1_ch8,num_dec)
        
        
        
        data_1 = pd.concat([hand0, hand1], axis=0)
        print(f"participant {participant}, data1: {len(data_1.itr_id.unique())}")

        write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(participant)+"/emg_prop_rect_norm.csv"
        data_1.to_csv(write_path, index = None)

Participant:  19
participant 19, data1: 36
Participant:  20
Participant:  21
participant 21, data1: 36
Participant:  22
participant 22, data1: 36
Participant:  23
participant 23, data1: 36
Participant:  24
participant 24, data1: 36
Participant:  25
participant 25, data1: 36

In [6]:
path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(19)+"/emg_prop_rect_norm.csv"
data2 = pd.read_csv(path2)
data2

,new_id,id,p_id,itr_id,prj_id,ppt_id,rating,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,1,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.521552,0.495902,0.657609,0.549550,0.713450,2022-02-13 11:24:11.302
1,2,132383,19,119,622,16,6,0,27,0.596059,0.502058,0.693642,0.517241,0.491803,0.652174,0.545045,0.701754,2022-02-13 11:24:11.302
2,3,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.536036,0.695906,2022-02-13 11:24:11.302
3,4,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.687861,0.517241,0.491803,0.646739,0.540540,0.690058,2022-02-13 11:24:11.302
4,5,132383,19,119,622,16,6,0,27,0.596059,0.497942,0.693642,0.517241,0.491803,0.646739,0.540540,0.701754,2022-02-13 11:24:11.302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
529227,529228,165459,19,154,622,17,5,1,25,0.625668,0.504348,0.686047,0.641711,0.487705,0.675978,0.697143,0.613402,2022-02-13 12:02:11.368
529228,529229,165459,19,154,622,17,5,1,25,0.647059,0.526087,0.709302,0.652406,0.495902,0.703911,0.708571,0.628866,2022-02-13 12:02:11.368
529229,529230,165459,19,154,622,17,5,1,25,0.652406,0.534783,0.715116,0.652406,0.500000,0.709497,0.725714,0.634021,2022-02-13 12:02:11.368
529230,529231,165459,19,154,622,17,5,1,25,0.647059,0.530435,0.709302,0.647059,0.495902,0.687151,0.697143,0.628866,2022-02-13 12:02:11.368
529231,529232,165459,19,154,622,17,5,1,25,0.647059,0.526087,0.697674,0.636364,0.495902,0.670391,0.674286,0.623711,2022-02-13 12:02:11.368

### Step 4 - Combine the datasets

In [7]:
path1 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(19)+"/emg_prop_rect_norm.csv"
data1 = pd.read_csv(path1)

path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(21)+"/emg_prop_rect_norm.csv"
data2 = pd.read_csv(path2)

path3 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(22)+"/emg_prop_rect_norm.csv"
data3 = pd.read_csv(path3)

path4 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(23)+"/emg_prop_rect_norm.csv"
data4 = pd.read_csv(path4)

path5 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(24)+"/emg_prop_rect_norm.csv"
data5 = pd.read_csv(path5)

path6 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/"+"Participant"+str(25)+"/emg_prop_rect_norm.csv"
data6 = pd.read_csv(path6)

In [8]:
emg_combined_1 = pd.concat([data1, data2, data3, data4, data5, data6], axis=0)

In [9]:
write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/2022_Experiment/emg_combined_2022.csv"
emg_combined_1.to_csv(write_path, index = None)

#### Additional

       # hand0 = data[data['hand']==0]
       # hand1 = data[data['hand']==1]

       # avg0_ch1 = np.mean(hand0['ch_01'])
       # avg1_ch1 =np.mean(hand1['ch_01'])
       # avg0_ch2 =np.mean(hand0['ch_02'])
       # avg1_ch2 =np.mean(hand1['ch_02'])
       # avg0_ch3 =np.mean(hand0['ch_03'])
       # avg1_ch3 =np.mean(hand1['ch_03'])
       # avg0_ch4 =np.mean(hand0['ch_04'])
       # avg1_ch4 =np.mean(hand1['ch_04'])
       # avg0_ch5 =np.mean(hand0['ch_05'])
       # avg1_ch5 =np.mean(hand1['ch_05'])
       # avg0_ch6 =np.mean(hand0['ch_06'])
       # avg1_ch6 =np.mean(hand1['ch_06'])
       # avg0_ch7 =np.mean(hand0['ch_07'])
       # avg1_ch7 =np.mean(hand1['ch_07'])
       # avg0_ch8 =np.mean(hand0['ch_08'])
       # avg1_ch8 =np.mean(hand1['ch_08'])
        
        num_dec = 4 

        hand0['ch_01'] = abs(round(hand0['ch_01'] - avg0_ch1,num_dec))
        hand0['ch_02'] = abs(round(hand0['ch_02'] - avg0_ch2,num_dec))
        hand0['ch_03'] = abs(round(hand0['ch_03'] - avg0_ch3,num_dec))
        hand0['ch_04'] = abs(round(hand0['ch_04'] - avg0_ch4,num_dec))
        hand0['ch_05'] = abs(round(hand0['ch_05'] - avg0_ch5,num_dec))
        hand0['ch_06'] = abs(round(hand0['ch_06'] - avg0_ch6,num_dec))
        hand0['ch_07'] = abs(round(hand0['ch_07'] - avg0_ch7,num_dec))
        hand0['ch_08'] = abs(round(hand0['ch_08'] - avg0_ch8,num_dec))

        hand1['ch_01'] = abs(round(hand1['ch_01'] - avg1_ch1,num_dec))
        hand1['ch_02'] = abs(round(hand1['ch_02'] - avg1_ch2,num_dec))
        hand1['ch_03'] = abs(round(hand1['ch_03'] - avg1_ch3,num_dec))
        hand1['ch_04'] = abs(round(hand1['ch_04'] - avg1_ch4,num_dec))
        hand1['ch_05'] = abs(round(hand1['ch_05'] - avg1_ch5,num_dec))
        hand1['ch_06'] = abs(round(hand1['ch_06'] - avg1_ch6,num_dec))
        hand1['ch_07'] = abs(round(hand1['ch_07'] - avg1_ch7,num_dec))
        hand1['ch_08'] = abs(round(hand1['ch_08'] - avg1_ch8,num_dec))
        
       # print(f"participant {participant}, hand0: {len(hand0.itr_id.unique())} , hand1: {len(hand1.itr_id.unique())} ")
        
        data_1 = pd.concat([hand0, hand1], axis=0)